/*=== RESET CSS === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*=== IMAGE ===*/
div.header section.image img{
  display:  block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 3%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }